body {
    background-color: #fafaff;
    font-family: "源ノ明朝"
}


h1 {
    font-style: italic;
    text-align: center;
    border-bottom: gray 1px solid;
}

h2 {
    font-style: italic;
    border-bottom: #aad solid 1px;
}

img {
    border-right: #000 solid 1px;
    border-bottom: #000 solid;
}

.center {
    width: 85%;
    margin: auto;
}

#flexbox {
    display: flex;
}

#left_menu {
    margin: 1%;
    padding: 10px;
    width: 15%;
    border-right: solid #000 1px;
    /* border: solid; */
}

#gridbox_menu {
    display: grid;
}

#profile {
    font: 10px;
}

#SiteNav {
    border-left: ridge 1px #000;
}

.now {
    background-color: #ff0;
    text-decoration: underline;
}

#right_text {
    margin: 1%;
    padding: 10px;
    width: 75%;

}

footer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: inset 2px;
}