body {
    background-color: #fafaff;
    font-family: "源ノ明朝"
}


h1 {
    font-style: italic;
    text-align: center;
    border-bottom: gray 1px solid;
}

h2 {
    font-style: italic;
    border-bottom: #aad solid 1px;
}

img {
    border-right: #000 solid 1px;
    border-bottom: #000 solid;
    width: 80%;
    height: auto;
}

.center {
    width: 85%;
    margin: auto;
}

.game_gallery {
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 1fr;
}

.game_gallery li {
    width: 90%;
    padding: 10px;
    border: #000 solid;
    overflow: hidden;
    margin-bottom: 20px;

    place-content: center;
    place-items: center;
}


footer {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: inset 2px;
}